@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary-light: #FFFEDA;
  --color-primary: #FEFCBF;
  --color-primary-dark: #F4CE10;

  --color-secondary-light: #D1E7F3;
  --color-secondary: #A5C4D4;
  --color-secondary-dark: #566a81;

  --background: #FAFCF7;
  --color-dark: #0A0A0A;
}

@layer utilities {
  .bg-noise {
    @apply fixed inset-0 z-[100] pointer-events-none overflow-hidden scale-[1.2];
  }

  .bg-noise::before {
    content: "";
    @apply absolute -top-40 -left-40 w-[calc(100%+20rem)] h-[calc(100%+20rem)] -z-10 pointer-events-none;
    background-image: url('/bg-noise.png');
    background-position: center;
    animation: BgNoise 1s steps(2) infinite;
    opacity: .5;
  }

  @keyframes BgNoise {
    0% { transform: translate3d(0, 9rem, 0); }
    10% { transform: translate3d(-1rem, -4rem, 0); }
    20% { transform: translate3d(-8rem, 2rem, 0); }
    30% { transform: translate3d(9rem, -9rem, 0); }
    40% { transform: translate3d(-2rem, 7rem, 0); }
    50% { transform: translate3d(-9rem, -4rem, 0); }
    60% { transform: translate3d(2rem, 6rem, 0); }
    70% { transform: translate3d(7rem, -8rem, 0); }
    80% { transform: translate3d(-9rem, 1rem, 0); }
    90% { transform: translate3d(6rem, -5rem, 0); }
    100% { transform: translate3d(-7rem, 0, 0); }
  }
}

canvas {
  position: absolute;
  inset: 0;
  outline: none;
  /* mix-blend-mode: exclusion; */
  z-index: 1;
}


@font-face {
  font-family: 'GrandSlang';
  src: url('/fonts/grandslang/GrandSlang-Roman.eot');
  src: url('/fonts/grandslang/GrandSlang-Roman.eot?#iefix') format('embedded-opentype'),
       url('/fonts/grandslang/GrandSlang-Roman.woff2') format('woff2'),
       url('/fonts/grandslang/GrandSlang-Roman.woff') format('woff'),
       url('/fonts/grandslang/GrandSlang-Roman.ttf') format('truetype'),
       url('/fonts/grandslang/GrandSlang-Roman.svg#GrandSlang-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/outfit/Outfit-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/outfit/Outfit-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/outfit/Outfit-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
